.content-grid,
.container {
  display: grid;
  gap: 50px 0px;
  align-items: center;
  grid-template-columns: [full-start] 50px [breakout-start] 50px [content-start] 1fr [content-end breakout-end extra-start] 100px [full-end extra-end];
}

.content-grid > * {
  grid-column: content;
}

.container,
.full {
  grid-column: full;
}
.break {
  grid-column: breakout;
}
.extra {
  grid-column: extra;
}
