.content-grid,
.container {
  display: grid;
  gap: 20px;
  align-items: baseline;
  grid-template-columns: [full-start] 25px [breakout-start] 10px [content-start] 1fr [content-end breakout-end extra-start] 10px 100px [full-end extra-end];
}

.content-grid > * {
  grid-column: content;
}

.container,
.full {
  grid-column: full;
}
.break {
  grid-column: breakout;
}
.extra {
  grid-column: extra;
}
