.result-panel-container {
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--color-grey);
  height: 100vh;
}

.result-panel {
  overflow: auto;
  flex: 1;
  border-bottom: 1px solid var(--color-grey);
}

.running .title,
.running .result {
  opacity: 0.5;
}

.error {
  color: red;
}

.title-container {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
}

.title {
  display: flex;

  & > h3 {
    flex: 1;
    & a {
      color: inherit;
      text-decoration: none;
    }
  }

  & > span {
    line-height: 16pt;
  }
}

.results {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr auto;
  & > label {
    flex: 1;
  }
  & > span {
    text-align: right;
  }
  & * {
    font-size: 10pt;
    font-family: GeistMono;
  }
}

.description {
  font-size: 8pt;
  font-family: GeistMono;
  color: var(--color-grey-dark);
}
