.content-grid,
.container {
  display: grid;
  gap: 50px 0px;
  align-items: baseline;
  grid-template-columns: [full-start] 35px [breakout-start] 25px [content-start label-start] 1fr [label-end result-start] 1fr [content-end breakout-end extra-start] 35px [result-end] 50px [full-end extra-end];
}

.content-grid > * {
  grid-column: content;
}

.container,
.full {
  grid-column: full;
}
.break {
  grid-column: breakout;
}
.extra {
  grid-column: extra;
}
.label {
  grid-column: label;
}
.result {
  grid-column: result;
}
