.results-panel {
}

.results-panel-container {
  border-left: 1px solid var(--color-grey);
  height: 100vh;
}

.result {
  font-size: 10pt;
}

.error {
  color: red;
}

.title {
  display: flex;

  & > h3 {
    flex: 1;
  }

  & > span {
    line-height: 16pt;
  }
}

.result {
  display: flex;
  & > label {
    flex: 1;
  }
}
