.button {
  border-radius: 50px;
  user-select: none;
  & button {
    font-size: 10pt;
    background: transparent;
    border: none;
    color: var(--color-button);
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
