.text-area-container {
  border: 1px solid var(--color-grey-light);
  display: flex;
  overflow: hidden;
  padding: 5px;
  &:focus,
  &:focus-within,
  &:hover {
    outline: none;
    border: 1px solid var(--color-grey-dark);
  }
}
.text-area {
  background: none;
  border: none;
  color: var(--color-grey-dark);
  flex: 1;
  font-family: GeistMono;
  font-size: 10pt;
  overflow: hidden;
  resize: none;
  &:focus {
    outline: none;
  }
}
