@font-face {
  font-family: 'GeistMono';
  src: url('./assets/GeistMono-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'GeistSans';
  src: url('./assets/Geist-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'GeistSansBlack';
  src: url('./assets/Geist-Black.otf') format('opentype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
  padding: 0px;
  margin: 0px;
  font-family: GeistSans;
  height: 100vh;
  color: var(--color-font);
}

h1,
h2,
h3 {
  all: unset;
}

h2 {
  font-size: 21pt;
  line-height: 21pt;
}
h3 {
  font-size: 16pt;
  line-height: 16pt;
}
