.panel {
  max-height: 100vh;
  overflow: auto;
  & > div {
    padding: 50px 0px;
  }
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.extra-button {
  line-height: 32pt;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
